html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100%;
  font-size: 2em;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  font: inherit;
  cursor: pointer;
  color: #343a40;
  background: none;

  -webkit-appearance: button;
  display: inline-block;
  text-align: center;

  border: 1px solid #343a40;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

button:active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
